@use 'variables' as v;
@use 'mixins' as m;

.header {
    background-color: v.$color-primario !important;
    padding: 1rem 2rem;
}

.header__container {
   @include m.flex-between;

   @include m.responsive('tablet') {
    flex-wrap: wrap;
   }
}

.header__logo{
   display: flex;
   align-items: center;
   gap: 0.5rem;
   text-decoration: none;

   &-icono {
    background-color: v.$color-acento;
    color: v.$color-primario;
    font-family: v.$font-titulo;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 50px;
   }

    &-texto {
     color: v.$color-blanco;
     font-family: v.$font-titulo;
     font-size: 1.5rem;
    }
}

.header__nav {
    .header__lista{
    display: flex;
    gap: 1.5rem;
    list-style: none;
    }

    @include m.responsive('tablet') {
        display: none;
    }

    a {
        color: v.$color-blanco;
        font-family: v.$font-cuerpo;
        font-size: 0.95rem;
        transition: color 0.3s;

        &:hover {
            color: v.$color-acento;
        }
    }
}

.header__lista .nav-link {
    color: v.$color-blanco !important;

    &:hover {
    color: v.$color-acento !important;
    }
}

.navbar-toggler {
    border-color: v.$color-acento !important;

    .navbar-toggler-icon {
        filter: invert(1);
    }
}